[submodule "06. Foundry Simple Storage/lib/forge-std"]
	path = 06. Foundry Simple Storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "07. Foundry Fund Me/lib/forge-std"]
	path = 07. Foundry Fund Me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "07. Foundry Fund Me/lib/chainlink-brownie-contracts"]
	path = 07. Foundry Fund Me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "08. Foundry Lottery/lib/forge-std"]
	path = 08. Foundry Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08. Foundry ERC20/lib/forge-std"]
	path = 08. Foundry ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08. Foundry ERC20/lib/openzeppelin-contracts"]
	path = 08. Foundry ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "08. Foundry Lottery Raffle/lib/forge-std"]
	path = 08. Foundry Lottery Raffle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08. Foundry Lottery Raffle/lib/chainlink-brownie-contracts"]
	path = 08. Foundry Lottery Raffle/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "08. Foundry Lottery Raffle/lib/chainlink"]
	path = 08. Foundry Lottery Raffle/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "09. Foundry ERC20/lib/forge-std"]
	path = 09. Foundry ERC20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "09. Foundry ERC20/lib/openzeppelin-contracts"]
	path = 09. Foundry ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10.FoundryNFTs/lib/forge-std"]
	path = 10.FoundryNFTs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10.FoundryNFTs/lib/openzeppelin-contracts"]
	path = 10.FoundryNFTs/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10.FoundryNFTs/lib/foundry-devops"]
	path = 10.FoundryNFTs/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "11.FoundryUpgradableContracts/lib/forge-std"]
	path = 11.FoundryUpgradableContracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "11.FoundryUpgradableContracts/lib/openzeppelin-contracts-upgradeable"]
	path = 11.FoundryUpgradableContracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "11.FoundryUpgradableContracts/lib/openzeppelin-contracts"]
	path = 11.FoundryUpgradableContracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "11.FoundryUpgradableContracts/lib/foundry-devops"]
	path = 11.FoundryUpgradableContracts/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
